#footer {
  position:fixed;
  bottom: 0;

  ul {
    display: flex;
    justify-content: space-around;
    li {
      width: 33.333%;
      text-align: center;
    }
    .active {
      background-color: rgba(0,0,0,0.1);
    }
  }
}